.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.header{
    padding-top: 10px;
    margin-bottom: -12px;
}
.phone{
    color: #fff;
    font-family: "Lato", sans-serif;
}
.lang{
    position: relative;
    float: right;
    z-index: 99;
}
.langs{
    display: none;
    position: absolute;
    top: 40px;
    right: 0px;
    width: 68px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    background-color: #ffffff;
    text-align: center;
}
.langs li{
    padding: 10px 0;
}
#tariffing-result{
    margin-top: 5px;
    height: 35px;
    margin-bottom: -5px;
}
#tariffing-rate{
    display: inline-block;
    color: #ff9d27;
    font-size:28px;
}
#tariffing-operator{
    display: inline-block;
    font-size: 28px;
    margin-right: 10px;
}
.find-section{
    margin-top: -20px;
    position: relative;
    padding-bottom: 35px;
}
.r-bar{
    position: relative;
    margin-bottom: -145px;
    padding: 0;
    color: #fff;
    z-index: 6;
}
.r-section{
    padding-top: 12em;
}
.free-block{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    padding: 0 10px;
    border-radius: 12px;
    background-color: #ff9d27;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
}
.r-feature-img{
    float: left;
    width: 100%;
    min-height: 155px;
    background-position: center;
    background-repeat: no-repeat;
}
.r-lead{
    font-weight: 300;
}
.imagebg:not(.image--light) .page-content a{
    color: #FF8D00;
}
button.btn.r-white-btn{
    width: initial;
    padding: 0 20px;
    border: none;
    background-color: #fff;
    color: #01939a;
}
.download-link{
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
}
.download-link:first-child {
    margin-left: 0;
}
.download-wrap{
    position: relative;
    height: 380px;
    text-align: center;
    margin-top: 60px;
}
.download-link-wrap{
    position: absolute;
    bottom: 30px;
}
.download-lead{
    max-height: 200px;
    font-size: 2.5em;
    line-height: 40px;
    overflow: hidden;
}
.about-us-lead{
    color: #2a2b2a;
    font-size: 14px;
    line-height: 1.85714286em;
}
.about-us .background-image-holder{
    background-color: #fff !important;
    background-size: contain !important;
    background-position: 102% -30px !important;
    background-repeat: no-repeat !important;
}
section.about-us{
    padding: 80px 0 !important;
}
h1.download-title{
    color: #ffffff!important;
    font-size: 50px;
    font-weight: bold;
}
h2.slide-title{
    margin-bottom: 10px;
    line-height: 21px;
    text-shadow: 0 0 2px #000;
}
h2.slide-title,
.r-lead p{
    color: #ffffff!important;
}
h1.about-us-title{
    color: #2a2b2a !important;
    text-align: center;
}
h4.slider-title{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff !important;
    text-align: center;
}
.slide-text{
    position: absolute;
    bottom: 0;
}
.owl-carousel{
    padding: 0 10px;
}
.slide-img-bg{
    position: relative;
    width: 100%;
    height: 350px;
    padding: 20px;
    border-radius: 10px;
    background-size: cover;
}
.copyright{
    color: #999595;
}
footer .r-logo{
    width: 105px;
    height: auto;
    max-height:100px;
}
.r-footer{
    background-color: #383838;
    padding: 30px 0 !important;
}
.r-footer-menu{
    display: block;
    padding-top: 15px;
}
.r-footer-menu li{
    display: inline-block;
    text-transform: uppercase;
}
.r-footer-menu li a.r-menu-link {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}
footer{
    color: #fff;
}
footer .list-inline:not(:last-child){
    margin-right: 0;
}
footer .social-list{
    padding-top: 20px;
}
footer ul.social-list li.social-list-item{
    margin-right: 8px;
}
footer ul.social-list li.social-list-item:last-child{
    margin-right: 0;
}
.icon.icon--sm {
    font-size: 20px;
}
.contact-lead{
    font-size: 14px;
    color: #252525;
    line-height: 1.85714286em;
}
.tariff-title{
    margin-top: 20px;
    margin-bottom: 0;
}
h2.tariff-title + form{
    margin-top: 0;
}
.r-switchable h1.r-black{
    color: #252525;
}
.r-background-image-holder{
    height: 95%;
    background-position: 50% top !important;
}
.r-switchable{
    padding-top: 55px !important;
    margin-top: -1px;
}
.r-switchable-video{
    padding: 150px 0 !important;
}
.r-switchable a{
    color: #ff8d00;
    /*opacity: 0.6;*/
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.r-switchable .contact-lead a {
    color: #FF8D00;
    opacity: 1;
}
.r-switchable a:hover{
    opacity: 1;
}
.r-switchable a i{
    display: inline-block;
}
.map{
    border-radius: 6px;
    overflow: hidden;
}
.r-switchable h1,
.r-switchable .r-lead{
    color: #ffffff;
}
.video-title{
    width: 600px;
    margin: 0 auto;
}
.section-name{
    margin-bottom: 50px;
}
.boxed.boxed-r{
    padding: 0;
}
input[type].r-white{
    height: inherit;
    padding: 10px;
    border-color: #ff9d27;
    background-color: #ffffff;
    text-align: center;
    font-size: 14px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;
    margin:0;
}
.menu-fix{
    display: none;
    position: fixed;
    top: 0;
    background-color: rgba(255,146,57,.85);
    width: 100%;
    height: 70px;
    padding: 10px 0;
    z-index: 20;
}
.menu-fix .menu-horizontal{
    padding-top: 10px;
}
.menu-fix .menu-horizontal li a{
    text-transform: uppercase;}
.menu-fix_logo{
    height: 50px;
}
.active-lang img,
.langs li a img{
    width: 24px;
    height: 18px;
}
/*faq page*/
p strong{
    color: inherit;
}
.header-faq{
    background-color: #ff9e27;
    background: linear-gradient(to right, #ff9e27, #ffd29c);
}
.faq-top-bg{
    height: 110px;
    background-color: #ff9e27;
    background: linear-gradient(to right, #ff9e27, #ffd29c);
}
.faq-bg{
    min-height: 700px;
    background: url("../../img/frontend/about_us_bg.png") right 10px no-repeat;
}
.breadcrumb{
    padding: 30px 25px 20px 25px;
}
.breadcrumb li{
    display: inline-block;
    color: #cccccc;
}
.breadcrumb li:first-child a{
    color: #ff9e27;
}
#faq h1.page-name{
    color: #ff9e27;
}
.page-content p{
    font-size: 14px;
}
.question-block{
    border-top: 1px solid #e1e1e1;
}
.question-block:last-child{
    border-bottom: 1px solid #e1e1e1;
}
.question{
    color: #000000;
    font-size: 21px;
    margin: 15px 0;
}
.question .fa{
    padding-right: 20px;
}
.question:hover {
    cursor: pointer;
}
.answer{
    display: none;
    margin-bottom: 15px;
}
.static-gallery{
    margin: 50px 0;
}
/*END faq page*/
/*pop-up*/
.slide-popup{
    display: none;
    position: absolute;
    top: 10% !important;
    left: 50%;
    width: 80%;
    height:400px;
    margin-left: -40%;
    padding: 15px;
    background: #fff url("../../img/frontend/buben-bg.png") right top no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    border-radius: 6px;
    text-align: center;
    z-index: 15;
}
#overlay {
    z-index:13;
    position:fixed;
    background-color:#000;
    opacity:0.8;
    -moz-opacity:0.8;
    filter:alpha(opacity=80);
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
}
/*END pop-up*/
.owl-theme .owl-controls{
    margin-top: 20px;
    margin-bottom: 20px;
}
.owl-theme .owl-controls .owl-page span {
    width: 14px;
    height: 14px;
    margin: 0 7px;
    opacity: 1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255, .4);
    background-color: rgba(255,255,255, .4);
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.owl-theme .owl-controls .owl-page.active span, 
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #fff;
}
/*************remake theme serpent***********/
input[type]:focus, select:focus, textarea:focus{
    border-color: #ff9d27;
}
.btn--primary, .btn--primary:visited {
    background: #ff9d27;
    border-color: #ff9d27;
}
.btn--primary:hover {
    background: #ffaa43;
}
.imagebg:not(.image--light) h1, .imagebg:not(.image--light) h2, .imagebg:not(.image--light) h3, .imagebg:not(.image--light) h4, .imagebg:not(.image--light) h5, .imagebg:not(.image--light) h6, .imagebg:not(.image--light) p, .imagebg:not(.image--light) ul, .imagebg:not(.image--light) blockquote{
    color: #000000;
}
.imagebg .container{
    z-index: unset;
}
section:not(.unpad):not(.imagebg):not([class*='bg--']):not(.imageblock):not(.unpad--bottom):not(.border--bottom) + footer:not(.unpad):not(.imagebg):not([class*='bg--']):not(.imageblock):not(.unpad--bottom):not(.border--bottom){
    padding: 55px 0;
}
.boxed{
    min-height:320px;
}
section, footer{
    padding: 55px 0;
}
input[type], textarea, select{
    background-color: #fafafa;
    padding-left: 2em;
}
footer:not(.bg--primary):not(.bg--dark) a{
    color: #fff;
}
.social-list{
    display: block;
}
.bar .logo{
    max-height: 64px;
}
.feature-5 .feature__body{
    width: 100%;
}
.menu-horizontal > li > a, 
.menu-horizontal > li > span,
.menu-horizontal > li > .modal-instance > .modal-trigger{
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.5);
}
.menu-horizontal > li:not(:hover) > a,
.menu-horizontal > li:not(:hover) > span,
.menu-horizontal > li:not(:hover) > .modal-instance > .modal-trigger{
    opacity: 1;
    text-shadow: none;
}
footer .menu-horizontal > li:not(:hover) > a,
footer .menu-horizontal > li:not(:hover) > span,
footer .menu-horizontal > li:not(:hover) > .modal-instance > .modal-trigger{
    opacity: 0.5;
}
.bar .menu-horizontal{
    top: 20px;
}
.feature h4 + p{
    max-width: 100%;
}

/********decision***********/
.decision-block{
    margin-bottom: 35px;
    padding: 0;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.14);
    overflow: hidden;
}
.decision-img{
    width: 100%;
    height: 300px;
    margin-bottom: 25px;
    background-color: #ff991e;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.decision-name_wrap{
    display: table;
    width: 100%;
    padding: 0 15px;
    min-height: 64px;
    margin-bottom: 25px;
    text-align: center;
}
.decision-name{
    display: table-cell;
    vertical-align: middle;
}
.decision-more{
    display: inline-block;
    padding: 14px 35px 17px;
    margin-bottom: 25px;
    border-radius: 4px;
    border: solid 1px #ffab46;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #ffab46;
    -webkit-transition: all ease .3s;
       -moz-transition: all ease .3s;
        -ms-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;

}
.decision-more:hover{
    background-color: #ffab46;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: all ease .3s;
       -moz-transition: all ease .3s;
        -ms-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;
}
/********END decision***********/

/*************make burger***********/
.button-menu {
    display: none;
    position: absolute;
    top: 13px;
    right: 25px;
    width: 25px;
    padding: 10px 0;
    color: #ffffff;
    text-align: center;
    z-index: 999;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }

.close.icon:after {
  position: absolute;
  right: 0;
  width: 21px;
  height: 2px;
  content: '';
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.close.icon:before {
  position: absolute;
  right: 0;
  width: 21px;
  height: 2px;
  content: '';
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.close.icon {
  position: absolute;
  width: 21px;
  height: 21px;
  color: #fff;
  z-index: 99; }

.menu-i.icon:after {
  position: absolute;
  top: 5px;
  left: 0;
  width: 17px;
  height: 2px;
  content: '';
  background-color: currentColor; }

.menu-i.icon:before {
  position: absolute;
  top: -5px;
  left: 0;
  width: 17px;
  height: 2px;
  content: '';
  background-color: currentColor; }

.menu-i.icon {
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: currentColor;
  color: #fff;
  z-index: 99; }

.icon,
.icon:before,
.icon:after {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease; }
 
/*************end make burger***********/

/********END remake theme serpent***********/
@media only screen and (max-width: 1200px) {
    .download-lead{
        max-height: 120px;
    }
    .download-link-wrap{
        bottom: 10px;
    }
}
@media only screen and (max-width: 991px) {
    .menu-fix .menu-horizontal{
        display: none;
    }
    .menu-fix .menu-horizontal li{
        display: inline-block;
        margin-right: 15px;
    }
    .r-section{
        padding-top: 19em;
    }
    .r-bar{
        margin-bottom: -155px;
    }
    .map{
        margin-top: 50px;
    }
    footer a.r-menu-link{
        margin-right: 1.23em;
    }
    footer .social-list{
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }
        .bar-2 .menu-horizontal > li, .bar-1 .menu-horizontal > li{
        display: block;
        margin-left: 10px !important;
    }
    .button-menu{
        display: block;
    }
    .bar .menu-horizontal {
        position: fixed;
        top: 90px;
        right: -220px;
        text-align: left;
        width: 200px;
        padding: 10px;
        background-color: #ff991e;
        border-radius: 10px 0 0 10px;
        font-size: 18px;
        box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
        -webkit-transition: all 0.8s ease;
        transition: all 0.8s ease;    
        }
    .bar .menu-horizontal.active {
        right: 0; 
        -webkit-transition: all 0.8s ease;
        transition: all 0.8s ease;
    } 
}

@media only screen and (max-width: 991px) and (min-width: 768px){
    .bar .menu-horizontal.menu-horizontal-faq{
        display: inline-block;
        float: right;
    }
    .boxed{
        min-height: 400px;
    }
}
@media only screen and (max-width: 768px) {
    h1{
        text-align: center;
    }
    .feature h4{
        text-align: center;
    }
    .r-feature-img{
        min-height: 145px;
    }
    .form-email{
        margin-top: 50px;
    }
    .video-title{
        width: auto;
    }
    .nav-container{
        position: relative;
        z-index: 5;
        margin-bottom: -250px;
    }
    /* .bar .menu-horizontal{
        top: 0;
        text-align: center;
    } */
    .bar .menu-horizontal.menu-horizontal-faq {
        top: 10px;
        text-align: right;
    }
    .faq-top-bg{
        height:210px;
    }
    #tariffing-result {
        height: initial;
        min-height: 46px;
    }
    footer ul.text-left-md{
        text-align: center;
    }
    .r-background-image-holder {
        background-position: 70% 50px !important;
    }
    .button-menu{
        top: 55px;
    }
    .r-section {
        padding-top: 20em;
    }
}
@media only screen and (max-width: 480px) {
    .bar .menu-horizontal.menu-horizontal-faq{
        display: inline-block;
        float: right;
        text-align: right;
    }
    .menu-fix .menu-horizontal{
        margin-top:0;
        padding-top: 5px;
    }
}
@media only screen and (max-width: 400px) {
    .r-section {
        padding-top: 20em;
    }
    .download-link:first-child{
        margin-left: 20px;
    }
    .download-wrap{
        height: initial;
        min-height: 450px;
    }
    .boxed.boxed-r{
        padding: 10px;
    }
}